# Ignore Visual Studio user-specific files
.vs/
*.user
*.suo

# Ignore build outputs
bin/
obj/
TestResults/

# Ignore local mobile tools (Appium/Emulator)
**/MobileTools/
**/RecordLocators/LocatorsFiles/
